<p id="notice"><%= notice %></p>

<h1>Listing Aplicarcobranzas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @aplicarcobranzas.each do |aplicarcobranza| %>
      <tr>
        <td><%= link_to 'Show', aplicarcobranza %></td>
        <td><%= link_to 'Edit', edit_aplicarcobranza_path(aplicarcobranza) %></td>
        <td><%= link_to 'Destroy', aplicarcobranza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aplicarcobranza', new_aplicarcobranza_path %>
