<p id="notice"><%= notice %></p>

<h1>Listing Listaprecios</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listaprecios.each do |listaprecio| %>
      <tr>
        <td><%= link_to 'Show', listaprecio %></td>
        <td><%= link_to 'Edit', edit_listaprecio_path(listaprecio) %></td>
        <td><%= link_to 'Destroy', listaprecio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listaprecio', new_listaprecio_path %>
