<!DOCTYPE html>
<html>
<head>
    <title>SCSORD</title>
    <style>
    </style>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div align="center" id="div_message" />
</body>
<script type="text/javascript">
	$( document ).ready(function() {
	    console.log( "COLOCAR PEDIDO" );
	    var pedido = "<%= params[:pedido_id]%>";
	    var Orden = orderContructor();
	    console.log("Este se enviará de parametro: ", Orden);
	    if (pedido!="") {
	    	console.log("SE EJECUTA SERVICIO");
	    	//window.open("api/v1/escribepedidos?facturaids=893B8B30D84743E69B23D574F59A81DA_");
	    }
	    // Servicio
	    $.ajax({
	        type:"GET",
	        dataType : 'html',
	        url: "api/v1/escribepedidos?pedido_id=" + pedido,
	           success: function(datox){
	           console.log("$> Datos: ", datox);
                document.getElementById("div_message").innerHTML = "<h2>Tú Pedido se completó correctamente.</h2></div><br><br><br><br><a href=\"/catalogoproductos\">Cátalogo de productos.</a>";
	    },
	        error:  function(){ 
	            console.log("$> Ocurrio un error");
                document.getElementById("div_message").innerHTML = "<h2>Algo ha salido mal, contacta con tu proveedor.</h2></div><br><br><br><br><a href=\"/carrito\">Carrito de Compra.</a>";
	        }
	    });	    
	});
	
function orderContructor(){
    var rows = [];
    var rowsOrder = [];
    var subTotal = 0;
    var qtyProductos = 0;
    var row = {};
    var rowOrder = {};
    <% Pedido.where(id: params[:pedido_id]).find_each do |ords|%>
        rowOrder.Order_id = <%= ords.id %>;
        <% Pedidolinea.where(pedido_id: ords.id).find_each do |lins| %>
            row.Order_id = <%= ords.id %>;
            row.Linea_id = <%= lins.id %>;
            row.Product_id = "<%= lins.product_id %>";
            row.Producto = "<%= lins.producto %>";
            row.Cantidad = (<%= lins.cantidad %>).toFixed(2);
            row.Precio = (<%= lins.precio %>).toFixed(2);
            row.Total = (<%= lins.total %>).toFixed(2);

            row.Imagen = "<%= lins.imagen %>";
            subTotal = subTotal + parseFloat(row.Precio) * parseFloat(row.Cantidad);
            qtyProductos = qtyProductos + parseFloat(row.Cantidad);
            rows.push(row);
            var row = {};
        <% end %>
        rowOrder.Subtotal = (subTotal).toFixed(2);
        rowOrder.Total = (subTotal).toFixed(2);
        rowOrder.Productos = (qtyProductos).toFixed(2);
        rowsOrder.push(rowOrder);
        var rowOrder = {};
    <% end %>
      var data = {
                rows: rows,
                orders: rowsOrder,
                otherStuff: {
                    thatIMight: 1,
                    needLater: true
                }
            };
    return data;
}
</script>
</html>