<p id="notice"><%= notice %></p>

<h1>Listing Pedidosobs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidosobs.each do |pedidosob| %>
      <tr>
        <td><%= link_to 'Show', pedidosob %></td>
        <td><%= link_to 'Edit', edit_pedidosob_path(pedidosob) %></td>
        <td><%= link_to 'Destroy', pedidosob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedidosob', new_pedidosob_path %>
