<p id="notice"><%= notice %></p>

<h1>Listing Documentoscobranzas</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documentoscobranzas.each do |documentoscobranza| %>
      <tr>
        <td><%= link_to 'Show', documentoscobranza %></td>
        <td><%= link_to 'Edit', edit_documentoscobranza_path(documentoscobranza) %></td>
        <td><%= link_to 'Destroy', documentoscobranza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Documentoscobranza', new_documentoscobranza_path %>
