<p id="notice"><%= notice %></p>

<h1>Listing Metodopagos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @metodopagos.each do |metodopago| %>
      <tr>
        <td><%= link_to 'Show', metodopago %></td>
        <td><%= link_to 'Edit', edit_metodopago_path(metodopago) %></td>
        <td><%= link_to 'Destroy', metodopago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Metodopago', new_metodopago_path %>
