<!DOCTYPE html>
<html>
<head>
  <title>Portal OB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery.watable' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <% if usuario_signed_in? %>
        <%= link_to (image_tag current_usuario.empresa.logo.url(:thumb)), root_path, class:"navbar-brand"%>
        <%= link_to "Mis facturas", facturas_path, class:"navbar-brand"%>
        <%= link_to "opcion 2", root_path, class:"navbar-brand"%>
      <% else %>
        <%= link_to "Portal OB", root_path, class:"navbar-brand"%> 
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">-->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
	<% if usuario_signed_in? %>
    <li><%= link_to "Empresa", empresa_path(current_usuario.empresa) %></li>
	  <li><%= link_to "Salir", destroy_usuario_session_path, method: :delete%></li>
	<% else %>
	  <li><%= link_to "Ingresar", new_usuario_session_path%></li>
	  <li><%= link_to "Registrarse", new_usuario_registration_path%></li>
	<% end %>
      </ul>
    </div><!-- /.navbar-collapse -->


  </div><!-- /.container-fluid -->
</nav>
  <div class="container">
    <% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>

